<nav class="navbar">

  <div class="logo">
    <a routerLink="/">E-Learning</a>
  </div>

  @if (loggedIn) {
    <div class="menu">

      <a routerLink="/home">Home</a>
      <a routerLink="/courses">Courses</a>
      <a routerLink="/courses/my-learning">My Learning</a>

      @if (role === 'Instructor') {
        <a routerLink="/courses/add/new">Add Course</a>
        <a routerLink="/courses/manage">Edit Course</a>
        <a routerLink="/assessment/pending">Pending task</a>
      }

      @if (role === 'Admin') {
        <a routerLink="/courses/manage-courses">Manage Courses</a>
        <a routerLink="/manage-users">Manage Users</a>
      }

      <div 
        class="user-box"
        tabindex="0"
        role="button"
        (click)="toggleDropdown()"
        (keydown.enter)="toggleDropdown()"
        (keydown.space)="toggleDropdown()"
      >
        <span class="user-name">{{ userName }}</span>

        @if (dropdownOpen) {
          <div class="dropdown">
            <button (click)="logout()">Logout</button>
          </div>
        }
      </div>

    </div>
  }

</nav>
