<div class="container">

  <h2>Manage Courses</h2>

  @if (loading()) {
    <div>Loading courses...</div>
  }

  @if (!loading() && courses().length === 0) {
    <p>No courses available.</p>
  }

  @if (!loading() && courses().length > 0) {

    @for (c of courses(); track c.id) {

      <div class="course-card" [class.deleted]="c.isDeleted">

        <div class="info">
          <h3>{{ c.title }}</h3>
          <p>{{ c.description }}</p>

          @if (c.isDeleted) {
            <div class="status-deleted">❌ Deleted (Archived)</div>
          }
        </div>

        <div class="actions">

          @if (!c.isDeleted) {
            <button class="edit-btn"
                    (click)="editCourse(c.id, c.isDeleted)">
              Edit
            </button>

            <button class="delete-btn"
                    (click)="deleteCourse(c.id)">
              Delete
            </button>
          }

          @if (c.isDeleted) {
            <button class="restore-btn"
                    (click)="restoreCourse(c.id)">
              Restore
            </button>
          }
        </div>
      </div>
    }
  }
</div>